.root {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  overscroll-behavior: none;
  min-height: 100%;


  & .content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 16px;
    flex-grow: 1;
  }
}